.cake-hub__container
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    .cake-hub__design-comp
        width: 50%
    .cake-hub__outles--list
        height: 100%
        overflow-y: scroll
        width: 50%
        height: 100%
