<mat-card *ngIf="currentCake" class="cake-card">
    <mat-card-header class="cake-card__header">

        <mat-card-title class="cake-card__header--title">
            <h3>
                {{currentCake.title}}
            </h3>
        </mat-card-title>

        <mat-card-subtitle class="cake-card__header--subtitle">        
            <mat-icon class="cake-card__header--subtitle-stars" *ngFor="let star of (currentCake.stars | active)">star</mat-icon>
            <mat-icon class="cake-card__header--subtitle-stars--empty" *ngFor="let star of (currentCake.stars | inactive)">star_border</mat-icon>

        </mat-card-subtitle>

    </mat-card-header>

    <img class="cake-card__image" mat-card-image [src]="currentCake.image" [alt]="currentCake.title">
    
    <mat-card-content class="cake-card__content">
        <mat-divider [inset]="true"></mat-divider>
        <p>
           {{currentCake.comment}}
        </p>
        <mat-divider [inset]="true"></mat-divider>
    </mat-card-content>

    <mat-card-actions class="cake-card__actions">
        <button *ngIf="currentCake.creator===currentUserId" (click)="editCake()" mat-stroked-button color='primary'>Edit</button>
        <button *ngIf="currentCake.creator===currentUserId" (click)="deleteCake()" mat-stroked-button color='warn'>Delete</button>
    </mat-card-actions>

</mat-card>