<mat-card class="cake-design__card">
    <mat-card-header class="cake-design__card-header">
        <mat-card-title class="cake-design__card-title">
            {{isEditing===true ? 'Edit Cake' : 'Add Cake'}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="cake-design__card-content">

        <form #myForm="ngForm" [formGroup]="cakeForm" (ngSubmit)="isEditing==true ? addCake() : editCake(); myForm.resetForm()" class="cake-design__form">

            <mat-form-field color="accent" class="cake-design__form-title">
                <mat-label>
                    <mat-icon>cake</mat-icon> 
                    <b> Cake</b> 
                    <i> title</i>
                </mat-label>
                <input 
                    formControlName="title" 
                    matInput placeholder="Super Tasty Cake" 
                    (focus)="titleIcon.color='accent'" 
                    (blur)="titleIcon.color='none'"
                    [errorStateMatcher]="_errorStateMatcher">
                    
                <mat-icon #titleIcon matSuffix>cake</mat-icon>
                <mat-error *ngIf="cakeForm.get('title').hasError('required')">
                     <span>
                        <b>Cake</b>
                        <i> title</i>
                      </span> 
                      is required! 
                </mat-error>
            </mat-form-field>

            <mat-form-field color="accent" class="cake-design__form-comment">
                <mat-label>
                    <mat-icon>comment</mat-icon> 
                    <b> Cake</b> 
                    <i> comment</i>
                </mat-label>
                <textarea 
                    cols="30" 
                    rows="5" 
                    formControlName="comment" 
                    matInput placeholder="My fave, delicious!" 
                    (focus)="commentIcon.color='accent'" 
                    (blur)="commentIcon.color='none'"
                    [errorStateMatcher]="_errorStateMatcher ">
                    </textarea>
                <mat-icon #commentIcon matSuffix>comment</mat-icon>
                <mat-error *ngIf="cakeForm.get('comment').hasError('required')">
                    <span>
                        <b>Cake</b>
                        <i> comment</i>
                        </span> 
                        is required!
                </mat-error>
            </mat-form-field>


            <div *ngIf="imgUrl!==undefined" class="cake-design__form-image-preview--container">
                <img class="cake-design__form-image-preview" [src]="imgUrl" [alt]="cakeForm.get('title').value">
            </div>


            <div class="cake-design__form-stars">
                <mat-icon class="cake-design__form-stars--icon" color="{{stars[i]===true ? 'accent' : 'none'}}" (click)="toggleStar(i)" *ngFor="let star of stars; let i = index">{{stars[i]===true ? 'star' : 'star_border'}}</mat-icon> 
            </div>
            
            <mat-divider [inset]="true"></mat-divider>
            <button #secretSubmit type="submit" class="cake-design__form--secret-submit-button"></button>
        </form>

    </mat-card-content>
    

    <mat-card-actions class="cake-design__card-controls">

        <div class="cake-design__form-image-upload">
            <button (click)="input.click();" class="cake-design__form-image-upload__button" mat-stroked-button color="accent">Upload Image</button>
            <input (change)="previewFile($event)" #input class="cake-design__form-image-upload__input" type="file">
            <mat-error *ngIf="myForm.submitted && cakeForm.get('image').value===null">
                <span>
                    <b>Cake</b>
                    <i> image</i>
                </span> 
                is required
            </mat-error>
            <mat-error class="cake-design__form-image-upload--mime-type-error" *ngIf="cakeForm.get('image').hasError('invalidMimeType')">
                <span>
                    <b>Cake</b>
                    <i> image</i>
                </span> 
                should be a '.jgp', '.jpeg', '.png' or a '.gif' file.
            </mat-error>
        </div>
        <button type="submit" (click)="isEditing===true ? editCake() : addCake(); secretSubmit.click();" mat-flat-button color='accent'>{{isEditing===true ? 'Edit Cake' : 'Add Cake'}}</button>
    </mat-card-actions>
</mat-card>

        
  